*/*google-chrome
*/*user-dirs*
*/*mimeapps.list
*/*dconf
*/*pulse
*/*Slack
*/*next*
*/*pulseaudio-ctl
*/*coc
*/*configstore
*/*Insomnia
*/*spotify
*/*vlc
*/*nvim/plugin
**yarn
**figma*
**netlify
**Code*
**ranger
**gatsby
**Postman
**.org.*
**Cypress
**lvim
**zoomus*
**pavucontrol*
**menus
**gtk*
**Electron*
**astro*
**discord*
**obs**
**cef_user_data**
**code**
**font**
**yay**
**QtProject**
**light**

